.end-main {
  height: 20vh;
  width: 60%;
  background-color: rgba(250, 250, 250, 0.8);
  margin: 40vh auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 80px;
  }
}